[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CDatanet"]
	path = CDatanet
	url = https://github.com/ahoundetoungan/cdatanet
[submodule "PartialNetwork"]
	path = PartialNetwork
	url = https://github.com/ahoundetoungan/partialnetwork
[submodule "vMF"]
	path = vMF
	url = https://github.com/ahoundetoungan/vmf
